<div class="header">
  <div class="container grid bsb">  
    <a routerLink="/"><img class="r0 c0" style="width:auto; height:24px;" src = "assets/images/YeTube_Logo.png"/></a>
      <div class="search r0 c1 jc ac">
        <form>
          <div class="grid rsb">  
	    <input class="r0 c0" [(ngModel)]="term" name="term" type="text"/>
            <button [routerLink]="['/search']" [queryParams]="{term: term}" class="r0 c1">Search</button>
          </div>  
        </form>
      </div>
      <div style="white-space: nowrap;" class="r0 c2 ac">
        <button class="header-btn" *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">Login</button>
        <button class="header-btn" *ngIf="auth.isAuthenticated()" routerLink="/upload"><i class="fas fa-plus"></i></button>
	<button class="header-btn" *ngIf="auth.isAuthenticated()"><i class="fas fa-user-circle"></i></button>
        <button class="header-btn" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>
	<!--<button class="header-btn">Register</button>-->
      </div>
    </div>
</div>
