<div class="container">
  <div class="strip">
    <div class="strip-title">
      <span>Top Rated</span>
    </div>
    <div class="strip-videos" *ngIf="data">
      <div *ngFor="let vid of data" class="{{vid.video_id}}" [routerLink]="['view', vid.video_id]">
        <img class="strip-videos-thumb" src="http://yetube.dockedfiles.com/uploads/thumbs/{{ vid.thumb_src }}">
        <div class="strip-videos-title">{{ vid.title }}</div>
        <div class="strip-videos-creator" routerLink="/view/{{data.video_id}}">{{ vid.user_id }}</div>
        <div class="strip-videos-views">{{ vid.views }} views</div>
      </div>
    </div>
  </div>

  <div class="strip">
    <div class="strip-title">
      <span>Most Viewed</span>
    </div>
    <div class="strip-videos" *ngIf="data">
      <div *ngFor="let vid of data">
        <img class="strip-videos-thumb" src="http://yetube.dockedfiles.com/uploads/thumbs/{{ vid.thumb_src }}">
        <div class="strip-videos-title">{{ vid.title }}</div>
        <div class="strip-videos-creator">{{ vid.user_id }}</div>
        <div class="strip-videos-views">{{ vid.views }} views</div>
      </div>
    </div>
  </div>

  <div class="strip">
    <div class="strip-title">
      <span>Newly Added</span>
    </div>
    <div class="strip-videos" *ngIf="data">
      <div *ngFor="let vid of data">
        <img class="strip-videos-thumb" src="http://yetube.dockedfiles.com/uploads/thumbs/{{ vid.thumb_src }}">
        <div class="strip-videos-title">{{ vid.title }}</div>
        <div class="strip-videos-creator">{{ vid.user_id }}</div>
        <div class="strip-videos-views">{{ vid.views }} views</div>
      </div>
    </div>
  </div>
</div>
