.strip-title{
  font-family:arial;
  font-weight:bold;
  margin:10px 0px;
}
.strip-videos{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:stretch;
  align-content:flex-start;
}
.strip-videos > div{
  font-family:arial;
  flex-basis:19.5%;    
  margin-right:0.5%;
  cursor:pointer;
  outline:none;
}

.strip-videos-thumb{
  width:100%;
  height:auto;
  display:block;
}
.strip-videos-title{
  padding:0.5em 0;
  font-weight:bold;
  font-size:0.8em;
}

.strip-videos-creator{
  outline:none;
  padding:0px 0px 2px 0px;
}
.strip-videos-creator, .strip-videos-views{
  font-size:0.8em;
  color:#555;
}
